<div
  appearance="floating"
  tuiCardLarge
  tuiForm="m">
  <header tuiHeader>
    {{ 'SETTINGS.DEVICES.TITLE' | translate }}
  </header>

  <ng-template
    #deviceStatusIcon
    let-value>
    @if (value) {
      <tui-icon
        icon="@tui.badge-check"
        style="color: var(--tui-status-positive); pointer-events: none" />
    } @else {
      <tui-icon
        icon="@tui.triangle-alert"
        style="color: var(--tui-status-negative); pointer-events: none" />
    }
  </ng-template>

  <label tuiLabel>
    {{ 'SETTINGS.DEVICES.AUDIO_INPUT' | translate }}
    <tui-textfield
      iconStart="@tui.mic"
      tuiChevron
      tuiTextfieldSize="m"
      [tuiTextfieldCleaner]="false">
      <input
        tuiSelect
        [ngModel]="audioInput()"
        (ngModelChange)="onSelectAudioInput($event)" />

      <tui-data-list-wrapper
        *tuiDropdown
        [items]="audioInputList()" />

      <ng-container
        [ngTemplateOutlet]="deviceStatusIcon"
        [ngTemplateOutletContext]="{
          $implicit: audioInputAvailable(),
        }">
      </ng-container>
    </tui-textfield>
  </label>

  <label tuiLabel>
    {{ 'SETTINGS.DEVICES.AUDIO_OUTPUT' | translate }}
    <tui-textfield
      iconStart="@tui.headphones"
      tuiChevron
      tuiTextfieldSize="m"
      [tuiTextfieldCleaner]="false">
      <input
        tuiSelect
        [ngModel]="audioOutput()"
        (ngModelChange)="onSelectAudioOutput($event)" />

      <tui-data-list-wrapper
        *tuiDropdown
        [items]="audioOutputList()" />

      <ng-container
        [ngTemplateOutlet]="deviceStatusIcon"
        [ngTemplateOutletContext]="{
          $implicit: audioOutputAvailable(),
        }">
      </ng-container>

      <tui-icon
        icon="@tui.message-circle-question-mark"
        [tuiTooltip]="'SETTINGS.DEVICES.API_NOT_AVAILABLE' | translate">
      </tui-icon>
    </tui-textfield>
  </label>
</div>
