@let p = peer();

<div
  class="mini-tile"
  [class.speaking]="isSpeaking()">
  @if (videoTrack()) {
    <video
      #videoEl
      class="video"
      autoplay
      playsinline
      muted></video>

    <span
      class="corner-avatar"
      tuiHintAppearance="floating"
      [tuiHint]="hintLabel()">
      <app-user-avatar
        size="s"
        [username]="p.username"
        [fullname]="p.fullname"
        [avatarUrl]="p.avatarUrl"
        [talking]="isSpeaking()" />
    </span>
  } @else {
    <div class="avatar-backdrop">
      <div class="center-avatar-box">
        <app-user-avatar
          class="center-avatar"
          size="l"
          [username]="p.username"
          [fullname]="p.fullname"
          [avatarUrl]="p.avatarUrl"
          [talking]="isSpeaking()" />
      </div>
    </div>
  }
</div>
