# Git
.git
.gitignore

# Documentation & Markdown
README.md
docs/
*.md

# CI & GitHub
.github/

# Logs & Temp
*.log
*.tmp
*.swp
.DS_Store

# Dependencies
node_modules
**/node_modules
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Build artifacts & caches
dist
.nx
.angular
frontend/.angular
backend/dist
frontend/dist
backend/coverage
coverage

# Environment & Databases
.env
.env.local
*.sqlite
*.sqlite-journal
.konvoez_data/

# IDE & Editor
.vscode
.idea

# Docker files
Dockerfile
docker-compose.yml
docker-compose.*.yml