# Secrets (required)
MASTER_KEY=
JWT_SECRET=

# Media (required for voice calls)
# Public IPv4 or domain name of your server (used by WebRTC clients to reach Mediasoup):
MEDIASOUP_ANNOUNCED_IP=127.0.0.1
# RTC Port range for Mediasoup worker (must match ports forwarded in router & docker-compose)
MEDIASOUP_MIN_PORT=40000
MEDIASOUP_MAX_PORT=40100

# DB
# Supported engines are: sqlite, mysql, postgres
DB_ENGINE=sqlite
DB_NAME=/konvoez_data/konvoez.sqlite
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

# Storage
# Supported engines: local, s3
OBJECT_STORAGE=local
LOCAL_OBJECT_STORAGE_PATH=/konvoez_data/files

# S3
S3_REGION=
S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_ACCESS_KEY=
S3_FORCE_PATH_STYLE=