{
  "apps/frontend/**/*.{ts,html}": [
    "eslint --config apps/frontend/eslint.config.mjs --fix",
    "prettier --write"
  ],
  "apps/backend/**/*.{ts,js}": [
    "eslint --config apps/backend/eslint.config.mjs --fix",
    "prettier --write"
  ],
  "libs/shared/**/*.{ts,json}": [
    "eslint --config libs/shared/eslint.config.mjs --fix",
    "prettier --write"
  ],
  "tools/**/*.{ts,js}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{ts,js,mjs,cjs}": [
    "eslint --fix",
    "prettier --write"
  ],
  "{apps,libs,tools}/**/*.{scss,css,md,yaml,yml}": [
    "prettier --write"
  ],
  "apps/{backend,frontend}/**/*.json": [
    "prettier --write"
  ],
  "*.{json,yaml,yml,md}": [
    "prettier --write"
  ]
}
