<div class="peers-layout">
  <section
    class="peers-section"
    [class]="peersSectionClass()">
    @for (tile of tiles(); track tile.key) {
      <div class="grid-item">
        <app-voice-room-tile
          [peer]="tile.peer"
          [streamKind]="tile.streamKind"
          [videoTrack]="tile.videoTrack"
          [screenAvailable]="tile.screenAvailable"
          [watchingScreen]="tile.watchingScreen"
          [previewPaused]="tile.previewPaused" />
      </div>
    }
  </section>
</div>

<ng-content />
