:host {
  width: 100%;
  flex: 1;
  overflow: hidden;
  position: relative;

  .scroll-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .scroll-to-bottom {
    position: absolute;
    bottom: 12px;
    right: 16px;
    z-index: 10;
  }
}
