<div
  #scrollContainer
  class="scroll-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="150"
  [scrollWindow]="false"
  (scrolledUp)="onScrollUp()"
  (scrolled)="onScrolled()">
  @for (m of messages(); track m.id) {
    <app-text-room-message [message]="m"></app-text-room-message>
  }
</div>

@if (showScrollToBottom()) {
  <p-button
    class="scroll-to-bottom"
    text
    icon="pi pi-arrow-bottom"
    (onClick)="scrollToBottom()"></p-button>
}
