<form
  appearance="floating"
  tuiCardLarge
  tuiForm="m"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <header tuiHeader>
    <button
      appearance="flat"
      tuiButton
      type="button"
      routerLink="/auth">
      <tui-icon icon="@tui.chevron-left" />
      {{ 'GENERAL.GO_BACK' | translate }}
    </button>
  </header>

  <h2 tuiTitle>
    {{ 'AUTH.PASSWORD_RECOVERY.TITLE' | translate }}
    <span tuiSubtitle>
      {{ 'AUTH.PASSWORD_RECOVERY.REQUEST_SUBTITLE' | translate }}
    </span>
  </h2>

  <tui-textfield iconStart="@tui.mail">
    <label
      tuiLabel
      for="recovery-email">
      {{ 'PROFILE.EMAIL' | translate }}
    </label>
    <input
      tuiInput
      id="recovery-email"
      type="email"
      autocomplete="email"
      formControlName="email" />
  </tui-textfield>
  @if (errors().email; as err) {
    <tui-error [error]="err | translate" />
  }

  <footer>
    <button
      tuiButton
      type="submit"
      [loading]="loading()">
      <tui-icon icon="@tui.send" />
      {{ 'AUTH.PASSWORD_RECOVERY.SEND_CODE' | translate }}
    </button>
  </footer>
</form>
