<tui-root>
  @if (isAuthenticated()) {
    <div
      [style.display]="'flex'"
      [style.height.%]="100">
      <aside [tuiNavigationAside]="!collapsed()">
        <header>
          <button
            tuiButton
            iconStart="@tui.home"
            type="button"
            [routerLink]="'/'">
            @if (!collapsed()) {
              <app-logo></app-logo>
            }
          </button>
        </header>

        <app-rooms [collapsed]="collapsed()"></app-rooms>

        <footer>
          <app-voice-room-panel
            [collapsed]="collapsed()"></app-voice-room-panel>

          <tui-aside-group>
            <button
              tuiAsideItem
              automation-id="setting"
              type="button"
              iconStart="@tui.settings"
              tuiChevron>
              {{ 'MENU.SETTINGS.TITLE' | translate }}

              <ng-template>
                <button
                  tuiAsideItem
                  type="button"
                  iconStart="@tui.user-pen"
                  [routerLink]="'/settings/profile'">
                  {{ 'MENU.SETTINGS.PROFILE' | translate }}
                </button>

                <button
                  tuiAsideItem
                  type="button"
                  iconStart="@tui.file-headphone"
                  [routerLink]="'/settings/devices'">
                  {{ 'MENU.SETTINGS.DEVICES' | translate }}
                </button>

                @if (isAdminOrOwner()) {
                  <button
                    tuiAsideItem
                    type="button"
                    iconStart="@tui.mail"
                    [routerLink]="'/settings/invites'">
                    {{ 'MENU.SETTINGS.INVITES' | translate }}
                  </button>

                  <button
                    tuiAsideItem
                    type="button"
                    iconStart="@tui.shield"
                    [routerLink]="'/settings/admin'">
                    {{ 'MENU.SETTINGS.ADMIN' | translate }}
                  </button>
                }
              </ng-template>
            </button>
          </tui-aside-group>

          <button
            tuiAsideItem
            type="button"
            [iconStart]="
              collapsed() ? '@tui.chevron-right' : '@tui.chevron-left'
            "
            (click)="collapsed.update((v) => !v)">
            {{ (collapsed() ? 'MENU.EXPAND' : 'MENU.COLLAPSE') | translate }}
          </button>
        </footer>
      </aside>

      <main tuiNavigationMain>
        <router-outlet></router-outlet>
      </main>
    </div>
  } @else {
    <router-outlet></router-outlet>
  }
</tui-root>
