<form
  tuiForm
  [formGroup]="form"
  (submit)="submit()">
  <label tuiInputFiles>
    <input
      tuiInputFiles
      id="room-avatar"
      accept="image/*"
      [formControl]="form.controls.avatarFile"
      type="file" />

    <ng-template let-dragged>
      @if (dragged) {
        <div
          appearance="secondary"
          size="xxl"
          tuiAvatar="@tui.droplet">
        </div>
        <div>
          {{ 'GENERAL.DROP_IT' | translate }}
        </div>
      } @else {
        @if (avatarUrl(); as au) {
          <div
            appearance="secondary"
            size="xxl"
            tuiAvatar>
            <img
              [ngSrc]="au"
              fill
              [alt]="au" />
          </div>
        } @else {
          <div
            appearance="secondary"
            size="xxl"
            tuiAvatar="@tui.cloud-upload">
          </div>
        }

        <div>
          {{ 'GENERAL.DRAG_FILE' | translate }}
          {{ 'GENERAL.OR' | translate | lowercase }}
          <a tuiLink>
            {{ 'GENERAL.CLICK_TO_SELECT' | translate | lowercase }}
          </a>
        </div>
      }
    </ng-template>
  </label>

  <tui-textfield>
    <label
      tuiLabel
      for="add-room-name">
      {{ 'ROOMS.DIALOG.NAME' | translate }}
    </label>
    <input
      tuiInput
      id="add-room-name"
      formControlName="name"
      type="text" />
  </tui-textfield>

  <label tuiLabel>
    {{ 'ROOMS.DIALOG.TYPE' | translate }}
    <tui-textfield
      tuiChevron
      tuiTextfieldSize="m"
      [tuiTextfieldCleaner]="false">
      <input
        tuiSelect
        formControlName="type" />

      <tui-data-list-wrapper
        *tuiDropdown
        [items]="typeOptions" />
    </tui-textfield>
  </label>

  <footer>
    <button
      tuiButton
      type="submit">
      {{ 'GENERAL.SAVE' | translate }}
    </button>
  </footer>
</form>
