<form
  appearance="floating"
  tuiCardLarge
  tuiForm="m"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <header tuiHeader>
    <button
      appearance="flat"
      tuiButton
      type="button"
      routerLink="/auth/password-recovery">
      <tui-icon icon="@tui.chevron-left" />
      {{ 'GENERAL.GO_BACK' | translate }}
    </button>
  </header>

  <h2 tuiTitle>
    {{ 'AUTH.PASSWORD_RECOVERY.TITLE' | translate }}
    <span tuiSubtitle>
      {{ 'AUTH.PASSWORD_RECOVERY.CONFIRM_SUBTITLE' | translate }}
    </span>
  </h2>

  <tui-textfield iconStart="@tui.mail">
    <label
      tuiLabel
      for="confirm-email">
      {{ 'PROFILE.EMAIL' | translate }}
    </label>
    <input
      tuiInput
      id="confirm-email"
      type="email"
      autocomplete="email"
      formControlName="email" />
  </tui-textfield>
  @if (errors().email; as err) {
    <tui-error [error]="err | translate" />
  }

  <tui-textfield iconStart="@tui.key-round">
    <label
      tuiLabel
      for="recovery-code">
      {{ 'AUTH.PASSWORD_RECOVERY.CODE' | translate }}
    </label>
    <input
      tuiInput
      id="recovery-code"
      type="text"
      inputmode="numeric"
      autocomplete="one-time-code"
      formControlName="code" />
  </tui-textfield>
  @if (errors().code; as err) {
    <tui-error [error]="err | translate" />
  }

  <tui-textfield iconStart="@tui.lock">
    <label
      tuiLabel
      for="new-password">
      {{ 'PROFILE.PASSWORD' | translate }}
    </label>
    <input
      tuiInput
      id="new-password"
      type="password"
      autocomplete="new-password"
      formControlName="password" />
    <tui-icon tuiPassword />
  </tui-textfield>
  @if (errors().password; as err) {
    <tui-error [error]="err | translate" />
  }

  <tui-textfield iconStart="@tui.lock">
    <label
      tuiLabel
      for="confirm-password">
      {{ 'PROFILE.CONFIRM_PASSWORD' | translate }}
    </label>
    <input
      tuiInput
      id="confirm-password"
      type="password"
      autocomplete="new-password"
      formControlName="confirmPassword" />
    <tui-icon tuiPassword />
  </tui-textfield>
  @if (errors().confirmPassword; as err) {
    <tui-error [error]="err | translate" />
  }

  <footer>
    <button
      tuiButton
      type="submit"
      [loading]="loading()">
      <tui-icon icon="@tui.check" />
      {{ 'AUTH.PASSWORD_RECOVERY.RESET' | translate }}
    </button>
  </footer>
</form>
