<form [formGroup]="form" (submit)="submit()">
  <p-ifta-label>
    <input fluid pInputText id="add-room-name" formControlName="name" type="text" />
    <label for="add-room-name">
      {{ 'ROOMS.ADD_DIALOG.NAME' | translate }}
    </label>
  </p-ifta-label>
  <p-select
    fluid
    inputId="add-room-type"
    [options]="typeOptions"
    optionValue="value"
    optionLabel="name"
    formControlName="type"
    [placeholder]="'ROOMS.ADD_DIALOG.TYPE' | translate"
  ></p-select>

  <p-button [label]="'GENERAL.SAVE' | translate" type="submit"></p-button>
  <p-button [label]="'GENERAL.CANCEL' | translate" type="button" (onClick)="close()"></p-button>
</form>
