<div
  appearance="floating"
  tuiCardLarge
  tuiForm="m">
  <header tuiHeader>
    {{ 'SETTINGS.TITLE' | translate }}
  </header>

  <!-- <div tuiFile>
    <input #input accept="image/*" type="file" (change)="uploadAvatar(input.files)">
  </div> -->

  <input
    hidden
    class="avatar-input"
    #avatarInput
    type="file"
    accept="image/*"
    (change)="uploadAvatar(avatarInput)" />

  <div
    tuiAvatar
    size="xxl"
    class="avatar"
    tabindex="0"
    (click)="avatarInput.click()"
    (keypress.space)="avatarInput.click()"
    (keypress.enter)="avatarInput.click()">
    @if (avatarUrl(); as url) {
      <img
        [alt]="username()"
        [ngSrc]="url" />
    } @else {
      {{ username() | tuiInitials }}
    }

    <tui-icon
      class="avatar-edit"
      icon="@tui.edit"></tui-icon>
  </div>

  <ng-template
    #deviceStatusIcon
    let-value>
    @if (value) {
      <tui-icon
        icon="@tui.badge-check"
        style="color: var(--tui-status-positive); pointer-events: none" />
    } @else {
      <tui-icon
        icon="@tui.triangle-alert"
        style="color: var(--tui-status-negative); pointer-events: none" />
    }
  </ng-template>

  <label tuiLabel>
    {{ 'SETTINGS.AUDIO_INPUT' | translate }}
    <tui-textfield
      iconStart="@tui.mic"
      tuiChevron
      tuiTextfieldSize="m"
      [tuiTextfieldCleaner]="false">
      <input
        tuiSelect
        [ngModel]="audioInput()"
        (ngModelChange)="onSelectAudioInput($event)" />

      <tui-data-list-wrapper
        *tuiDropdown
        [items]="audioInputList()" />

      <ng-container
        [ngTemplateOutlet]="deviceStatusIcon"
        [ngTemplateOutletContext]="{
          $implicit: audioInputAvailable(),
        }">
      </ng-container>
    </tui-textfield>
  </label>

  <label tuiLabel>
    {{ 'SETTINGS.AUDIO_OUTPUT' | translate }}
    <tui-textfield
      iconStart="@tui.headphones"
      tuiChevron
      tuiTextfieldSize="m"
      [tuiTextfieldCleaner]="false">
      <input
        tuiSelect
        [ngModel]="audioOutput()"
        (ngModelChange)="onSelectAudioOutput($event)" />

      <tui-data-list-wrapper
        *tuiDropdown
        [items]="audioOutputList()" />

      <ng-container
        [ngTemplateOutlet]="deviceStatusIcon"
        [ngTemplateOutletContext]="{
          $implicit: audioOutputAvailable(),
        }">
      </ng-container>

      <tui-icon
        icon="@tui.message-circle-question-mark"
        [tuiTooltip]="'SETTINGS.API_NOT_AVAILABLE' | translate">
      </tui-icon>
    </tui-textfield>
  </label>

  <button
    tuiButton
    appearance="primary-destructive"
    iconStart="@tui.log-out"
    type="button"
    (click)="logout()">
    {{ 'AUTH.LOG_OUT' | translate }}
  </button>
</div>
