@if (room(); as _r) {
  <span class="room-name">
    <i class="pi pi-wifi"></i>
    {{ _r.name }}
    <p-button
      text
      icon="pi pi-sign-out"
      severity="danger"
      (onClick)="leaveRoom()">
    </p-button>
  </span>
}

<p-button-group>
  <p-button
    icon="pi pi-microphone"
    iconPos="right"
    [outlined]="!microphoneMuted()"
    [severity]="microphoneMuted() ? 'danger' : 'primary'"
    [label]="'GENERAL.MUTE' | translate"
    (onClick)="toggleMicrophoneMuted()">
  </p-button>
  <p-button
    icon="pi pi-headphones"
    [outlined]="!speakerMuted()"
    [severity]="speakerMuted() ? 'danger' : 'primary'"
    (onClick)="toggleSpeakerMuted()">
  </p-button>
</p-button-group>
