:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
}

.panel-button-spaced {
  justify-content: space-between;
}

.panel-button-fixed {
  flex: 0 0 auto;
}
