@if (isSessionActive()) {
  <div
    tuiGroup
    [orientation]="collapsed() ? 'vertical' : 'horizontal'">
    <button
      tuiButton
      iconStart="@tui.audio-lines"
      appearance="positive"
      type="button"
      tuiHintAppearance="floating"
      [tuiHint]="collapsed() ? (sessionTitle() | translate) : null"
      class="panel-button-spaced"
      (click)="clickSession()">
      @if (!collapsed()) {
        {{ sessionTitle() | translate }}
      }
    </button>
    <button
      tuiIconButton
      iconStart="@tui.log-out"
      appearance="negative"
      type="button"
      tuiHintAppearance="floating"
      [tuiHint]="'CALL.HANGUP' | translate"
      class="panel-button-fixed"
      (click)="leaveSession()">
    </button>
  </div>
}

<div
  tuiGroup
  [orientation]="collapsed() ? 'vertical' : 'horizontal'">
  <button
    tuiButton
    type="button"
    tuiHintAppearance="floating"
    [tuiHint]="collapsed() ? (micHintKey() | translate) : null"
    [iconEnd]="microphoneMuted() ? '@tui.mic-off' : '@tui.mic'"
    class="panel-button-spaced"
    [appearance]="microphoneMuted() ? 'negative' : 'neutral'"
    (click)="toggleMicrophoneMuted()">
    @if (!collapsed()) {
      {{ micHintKey() | translate }}
    }
  </button>
  <button
    tuiIconButton
    type="button"
    tuiHintAppearance="floating"
    [tuiHint]="'CALL.SOUND' | translate"
    [iconStart]="speakerMuted() ? '@tui.headphone-off' : '@tui.headphones'"
    class="panel-button-fixed"
    [appearance]="speakerMuted() ? 'negative' : 'neutral'"
    (click)="toggleSpeakerMuted()">
  </button>
  @if (cameraOn()) {
    <button
      tuiIconButton
      iconStart="@tui.video"
      class="panel-button-fixed"
      appearance="primary"
      type="button"
      tuiHintAppearance="floating"
      [tuiHint]="'CALL.CAMERA_OFF' | translate"
      (click)="stopCamera()">
    </button>
  }
  @if (screenOn()) {
    <button
      tuiIconButton
      iconStart="@tui.screen-share-off"
      class="panel-button-fixed"
      appearance="primary"
      type="button"
      tuiHintAppearance="floating"
      [tuiHint]="'CALL.SCREEN_OFF' | translate"
      (click)="stopScreen()">
    </button>
  }
</div>
