@if (room(); as _r) {
  <div
    tuiGroup
    [orientation]="collapsed() ? 'vertical' : 'horizontal'">
    <button
      tuiButton
      iconStart="@tui.audio-lines"
      appearance="positive"
      [style.justify-content]="'space-between'"
      (click)="clickRoom()">
      @if (!collapsed()) {
        {{ _r.name }}
      }
    </button>
    <button
      tuiIconButton
      iconStart="@tui.log-out"
      appearance="negative"
      [style.flex]="'0 0 auto'"
      (click)="leaveRoom()">
      ></button
    >
  </div>
}

<div
  tuiGroup
  [orientation]="collapsed() ? 'vertical' : 'horizontal'">
  <button
    tuiButton
    [iconStart]="microphoneMuted() ? '@tui.mic-off' : '@tui.mic'"
    [style.justify-content]="'space-between'"
    [appearance]="microphoneMuted() ? 'negative' : 'positive'"
    (click)="toggleMicrophoneMuted()">
    @if (!collapsed()) {
      {{ 'GENERAL.MUTE' | translate }}
    }
  </button>
  <button
    tuiIconButton
    [iconStart]="speakerMuted() ? '@tui.headphone-off' : '@tui.headphones'"
    [style.flex]="'0 0 auto'"
    [appearance]="speakerMuted() ? 'negative' : 'positive'"
    (click)="toggleSpeakerMuted()">
  </button>
</div>
