<form
  appearance="floating"
  tuiCardLarge
  tuiForm="m"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <header tuiHeader>
    {{ 'SETTINGS.PROFILE.TITLE' | translate }}
  </header>

  <label tuiInputFiles>
    <input
      tuiInputFiles
      id="profile-avatar"
      accept="image/*"
      [formControl]="form.controls.avatarFile"
      type="file" />

    <ng-template let-dragged>
      @if (dragged) {
        <div
          appearance="secondary"
          size="xxl"
          tuiAvatar="@tui.droplet">
        </div>
        <div>
          {{ 'GENERAL.DROP_IT' | translate }}
        </div>
      } @else {
        @if (avatarUrl(); as au) {
          <div
            appearance="secondary"
            size="xxl"
            tuiAvatar>
            <img
              [ngSrc]="au"
              fill
              [alt]="au" />
          </div>
        } @else {
          <div
            appearance="secondary"
            size="xxl"
            tuiAvatar="@tui.cloud-upload">
          </div>
        }

        <div>
          {{ 'GENERAL.DRAG_FILE' | translate }}
          {{ 'GENERAL.OR' | translate | lowercase }}
          <a tuiLink>
            {{ 'GENERAL.CLICK_TO_SELECT' | translate | lowercase }}
          </a>
        </div>
      }
    </ng-template>
  </label>

  <tui-textfield iconStart="@tui.user">
    <label
      tuiLabel
      for="profile-username">
      {{ 'PROFILE.USERNAME' | translate }}
    </label>

    <input
      tuiInput
      id="profile-username"
      autocomplete="username"
      formControlName="username"
      type="text" />
  </tui-textfield>
  @if (errors().username; as err) {
    <tui-error [error]="err | translate" />
  }

  <label tuiLabel>
    <input
      tuiSwitch
      formControlName="isChangingPassword"
      type="checkbox" />

    {{ 'PROFILE.IS_CHANGING_PASSWORD' | translate }}
  </label>

  <tui-textfield iconStart="@tui.lock">
    <label
      tuiLabel
      for="profile-password">
      {{ 'PROFILE.PASSWORD' | translate }}
    </label>
    <input
      tuiInput
      id="profile-password"
      autocomplete="new-password"
      formControlName="password"
      type="password" />
  </tui-textfield>
  @if (errors().password; as err) {
    <tui-error [error]="err | translate" />
  }

  <tui-textfield iconStart="@tui.lock">
    <label
      tuiLabel
      for="profile-confirm-password">
      {{ 'PROFILE.CONFIRM_PASSWORD' | translate }}
    </label>
    <input
      tuiInput
      id="profile-confirm-password"
      autocomplete="new-password"
      formControlName="confirmPassword"
      type="password" />
  </tui-textfield>
  @if (errors().confirmPassword; as err) {
    <tui-error [error]="err | translate" />
  }

  <tui-textfield iconStart="@tui.file-user">
    <label
      tuiLabel
      for="profile-fullname">
      {{ 'PROFILE.FULLNAME' | translate }}
    </label>
    <input
      tuiInput
      id="profile-fullname"
      autocomplete="name"
      formControlName="fullname"
      type="text" />
  </tui-textfield>
  @if (errors().fullname; as err) {
    <tui-error [error]="err | translate" />
  }

  <tui-textfield iconStart="@tui.mail">
    <label
      tuiLabel
      for="profile-email">
      {{ 'PROFILE.EMAIL' | translate }}
    </label>
    <input
      tuiInput
      id="profile-email"
      autocomplete="email"
      formControlName="email"
      type="text" />
  </tui-textfield>
  @if (errors().email; as err) {
    <tui-error [error]="err | translate" />
  }

  <footer>
    <button
      tuiButton
      appearance="primary"
      iconStart="@tui.save"
      type="submit"
      [disabled]="form.untouched">
      {{ 'GENERAL.SAVE' | translate }}
    </button>

    <button
      tuiButton
      appearance="primary-destructive"
      iconStart="@tui.log-out"
      type="button"
      (click)="logout()">
      {{ 'GENERAL.LOG_OUT' | translate }}
    </button>
  </footer>
</form>
