<form
  appearance="floating"
  tuiCardLarge
  tuiForm="m"
  novalidate
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <header tuiHeader>
    <h2 tuiTitle>
      {{ 'GENERAL.HELLO' | translate }}
    </h2>
  </header>

  <tui-textfield iconStart="@tui.user">
    <label
      tuiLabel
      for="username">
      {{ 'PROFILE.USERNAME' | translate }}
    </label>

    <input
      tuiInput
      id="username"
      autocomplete="username"
      formControlName="username"
      type="text" />
  </tui-textfield>
  @if (errors().username; as err) {
    <tui-error [error]="err | translate" />
  }

  <tui-textfield iconStart="@tui.lock">
    <label
      tuiLabel
      for="password">
      {{ 'PROFILE.PASSWORD' | translate }}
    </label>

    <input
      tuiInput
      id="password"
      autocomplete="current-password"
      formControlName="password"
      type="password" />

    <tui-icon tuiPassword />
  </tui-textfield>
  @if (errors().password; as err) {
    <tui-error [error]="err | translate" />
  }

  <footer>
    <button
      tuiButton
      type="submit"
      [disabled]="!form.dirty"
      [loading]="loading()">
      <tui-icon icon="@tui.log-in" />
      {{ 'GENERAL.SIGN_IN' | translate }}
    </button>

    <button
      appearance="flat"
      tuiButton
      type="button"
      routerLink="/auth/register">
      <tui-icon icon="@tui.user-plus" />
      {{ 'GENERAL.SIGN_UP' | translate }}
    </button>
  </footer>
</form>
