<form
  [formGroup]="form"
  (submit)="onSubmit()">
  <p-ifta-label>
    <input
      fluid
      pInputText
      id="username"
      autocomplete="username"
      formControlName="username"
      type="text"
      [placeholder]="'AUTH.USERNAME' | translate" />
    <label for="username">
      {{ 'AUTH.USERNAME' | translate }}
    </label>
  </p-ifta-label>

  <p-ifta-label>
    <p-password
      fluid
      inputId="password"
      autocomplete="current-password"
      formControlName="password"
      [toggleMask]="true"
      [feedback]="false"
      [fluid]="true">
    </p-password>
    <label for="password">
      {{ 'AUTH.PASSWORD' | translate }}
    </label>
  </p-ifta-label>

  <p-button
    fluid
    type="submit"
    [disabled]="!form.valid"
    [loading]="loading()"
    [label]="'AUTH.SIGN_IN' | translate"
    icon="pi pi-sign-in"></p-button>
  <p-button
    fluid
    text
    type="button"
    [label]="'AUTH.SIGN_UP' | translate"
    routerLink="/auth/register"
    icon="pi pi-user-plus"></p-button>
</form>
