@if (editableMessage(); as m) {
  <section class="edit">
    <div class="edit-title">
      {{ 'GENERAL.EDIT' | translate }}
    </div>
    <p-button
      class="edit-close"
      icon="pi pi-times"
      text
      (onClick)="cancelEdit()">
    </p-button>
  </section>
}

<section class="field">
  <angular-tiptap-editor
    class="field-editor"
    [config]="{ theme: 'dark' }"
    [content]="content()"
    (contentChange)="content.set($event)">
  </angular-tiptap-editor>
  <p-button
    text
    icon="pi pi-send"
    (onClick)="onSubmit()"></p-button>
</section>
