@use 'mixins' as m;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
  max-height: 50%;

  .edit {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--p-primary-500);
    &-close {
      margin-left: auto;
      flex-shrink: 0;
    }
  }

  .field {
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    overflow: hidden;

    &-editor {
      flex: 1;
      @include m.prime-x-tiptap;
    }
  }
}
