@if (editableMessage(); as m) {
  <section class="edit">
    <div class="edit-title">
      {{ 'GENERAL.EDIT' | translate }}
    </div>

    <button
      tuiButtonX
      class="edit-close"
      (click)="cancelEdit()">
      Close
    </button>
  </section>
}

<section class="field">
  <angular-tiptap-editor
    class="field-editor"
    [config]="{ theme: 'dark' }"
    [content]="content()"
    (contentChange)="content.set($event)">
  </angular-tiptap-editor>

  <button
    tuiIconButton
    iconStart="@tui.send"
    size="xs"
    (click)="onSubmit()">
  </button>
</section>
