<button
  tuiAsideItem
  iconStart="@tui.message-circle-more">
  {{ 'MENU.TEXT' | translate }}
  <button
    [style.margin-left]="'auto'"
    tuiIconButton
    appearance="positive"
    iconStart="@tui.plus"
    (click)="addRoom(ERoomType.TEXT); $event.stopPropagation()">
  </button>
</button>

@for (room of textRooms(); track room.id) {
  <button
    class="room-item"
    tuiAsideItem
    [tuiDropdown]="roomContextMenu"
    tuiDropdownHover
    (tuiDropdownOpenChange)="$event ? contextMenuOpenedFor.set(room) : null"
    (click)="selectRoom(room)">
    <div
      tuiAvatar
      size="s">
      @if (room.avatarUrl) {
        <img
          [alt]="room.name"
          [ngSrc]="room.avatarUrl"
          fill
          priority />
      } @else {
        {{ room.name | tuiInitials }}
      }
    </div>
    {{ room.name }}
  </button>
}

<button
  [style.margin-top.rem]="1"
  tuiAsideItem
  iconStart="@tui.audio-lines">
  {{ 'MENU.VOICE' | translate }}
  <button
    [style.margin-left]="'auto'"
    tuiIconButton
    appearance="positive"
    iconStart="@tui.plus"
    (click)="addRoom(ERoomType.VOICE); $event.stopPropagation()">
  </button>
</button>

@for (room of voiceRooms(); track room.id) {
  <button
    class="room-item"
    tuiAsideItem
    appearance="active"
    [tuiDropdown]="roomContextMenu"
    tuiDropdownHover
    (tuiDropdownOpenChange)="$event ? contextMenuOpenedFor.set(room) : null"
    (click)="selectRoom(room)">
    <div
      tuiAvatar
      size="s">
      @if (room.avatarUrl) {
        <img
          [alt]="room.name"
          [ngSrc]="room.avatarUrl"
          fill
          priority />
      } @else {
        {{ room.name | tuiInitials }}
      }
    </div>
    {{ room.name }}
  </button>

  @if (!collapsed()) {
    @for (peer of room.peers; track peer.id) {
      <app-room-peer
        class="room-peer-item"
        [peer]="peer"></app-room-peer>
    }
  }
}

<ng-template
  #roomContextMenu
  let-close>
  <tui-data-list>
    <button
      tuiOption
      iconEnd="@tui.edit"
      (click)="editRoom(contextMenuOpenedFor()!); close()">
      {{ 'GENERAL.EDIT' | translate }}
    </button>
    <button
      tuiOption
      iconEnd="@tui.delete"
      (click)="deleteRoom(contextMenuOpenedFor()!); close()">
      {{ 'GENERAL.DELETE' | translate }}
    </button>
  </tui-data-list>
</ng-template>
