@if (visible()) {
  <aside
    class="pip"
    [class.paused]="previewPaused()">
    <div class="pip-chrome">
      <span class="pip-title">{{ 'CALL.YOUR_SCREEN' | translate }}</span>
      <label
        tuiLabel
        class="pip-auto-pause">
        <input
          tuiCheckbox
          type="checkbox"
          [ngModel]="autoPauseWhenHidden()"
          (ngModelChange)="onAutoPauseWhenHiddenChange($event)" />
        {{ 'CALL.PREVIEW_AUTO_PAUSE' | translate }}
      </label>
    </div>

    @if (previewPaused()) {
      <div class="pip-paused">
        <p class="pip-paused-text">{{ 'CALL.PREVIEW_PAUSED' | translate }}</p>
        <button
          tuiButton
          size="s"
          type="button"
          (click)="onResumePreview()">
          {{ 'CALL.PREVIEW_RESUME' | translate }}
        </button>
      </div>
    } @else {
      <video
        #previewEl
        class="pip-video"
        autoplay
        playsinline
        muted></video>
    }
  </aside>
}
