<app-logo></app-logo>

<section class="groups">
  <div class="group text">
    <span class="group-item">
      {{ 'ROOMS.TEXT' | translate }}
      <p-button
        text
        icon="pi pi-plus"
        (onClick)="addRoom(ERoomType.TEXT)">
      </p-button>
    </span>
    <section class="group-children">
      @for (item of textRooms(); track item) {
        <div class="group-children-item">
          <p-button
            text
            icon="pi pi-comment"
            [label]="item.name"
            [severity]="item.id == selectedRoomId() ? 'primary' : 'secondary'"
            (onClick)="selectRoom(item)">
          </p-button>
        </div>
      }
    </section>
  </div>

  <div class="group voice">
    <span class="group-item">
      {{ 'ROOMS.VOICE' | translate }}
      <p-button
        text
        icon="pi pi-plus"
        (onClick)="addRoom(ERoomType.VOICE)">
      </p-button>
    </span>
    <section class="group-children">
      @for (item of voiceRooms(); track item) {
        <div class="group-children-item">
          <p-button
            text
            icon="pi pi-volume-up"
            [label]="item.name"
            [severity]="
              item.id == activeVoiceRoomId() ? 'primary' : 'secondary'
            "
            (onClick)="selectRoom(item)">
          </p-button>

          <section class="group-children-item-peers">
            @for (peer of item.peers; track peer) {
              <app-room-peer [peer]="peer"></app-room-peer>
            }
          </section>
        </div>
      }
    </section>
  </div>
</section>

<app-voice-room-panel></app-voice-room-panel>

<p-button
  outlined
  icon="pi pi-cog"
  routerLink="/settings"
  severity="contrast"
  [label]="'SETTINGS.TITLE' | translate">
</p-button>
