@if (message(); as m) {
  <div class="message">
    @if (avatarUrl(); as image) {
      <p-avatar
        class="message-sender"
        [image]="image"
        shape="circle">
      </p-avatar>
    } @else {
      <p-avatar
        class="message-sender"
        [label]="m.senderUsername[0]"
        shape="circle">
      </p-avatar>
    }
    <span class="message-body">
      <span class="message-body-header">
        <span class="message-body-header-username">
          {{ m.senderUsername }}
        </span>
        <span class="message-body-header-date">
          {{ m.createdAt | date: 'medium' }}
        </span>
      </span>
      <span class="message-body-content">
        {{ m.content }}
      </span>
    </span>
  </div>
}
<!-- TODO добавить редактирование, удаление, ответы в меню -->
